<div class="container my-4 d-flex flex-column justify-content-around h-100">
  <div>
    <h1 class="text-highlighted">Finishing Up</h1>
    <p class="text-muted">Double check everything looks OK before confirming.</p>
    <div class="my-5 ">

      <div class="p-3 d-flex flex-column splitup">
        <div class="my-2  d-flex justify-content-between">
          <div>
            <p class="fw-bold">Arcade(Monthly)</p>
            <a routerLink="/plan-select" class="text-decoration-underline ">Change</a>
          </div>
          <div>
            <p>+$9/mo</p>
          </div>
        </div>
        <hr>
        <div class="my-2 d-flex justify-content-between">
          <div>
            <p class="text-muted">Online service</p>
          </div>
          <div>
            <p>+$1/mo</p>
          </div>
        </div>
        <div class="my-2 d-flex justify-content-between">
          <div>

            <p class="text-muted">Larger storage</p>
          </div>
          <div>
            <p>+$2/mo</p>
          </div>
        </div>
      </div>
      <div class="p-3 my-2 d-flex justify-content-between">
        <div>
          <p class="text-muted">Total(per month)</p>
        </div>
        <div>
          <p class="final-amount">+$12/mo</p>
        </div>
      </div>

    </div>
  </div>
  <div class="mb-4">
    <a routerLink="/select-addons" class="fw-bold">Go Back</a>
    <button class="btn btn-primary float-end" routerLink="/finish">Next Step</button>
  </div>

</div>
