<div class="container my-4 d-flex flex-column justify-content-around h-100">
  <div>
    <h1 class="text-highlighted">Finishing Up</h1>
    <p class="text-muted">Double check everything looks OK before confirming.</p>
    <div class="my-5 ">

      <div class="p-3 d-flex flex-column splitup">
        <div class="my-2  d-flex justify-content-between">
          <div>
            <p class="fw-bold text-capitalize">{{selectedPlan}} ({{billingType}})</p>
            <a routerLink="/select-plan" class="text-decoration-underline ">Change</a>
          </div>
          <div>
            <p class = "plan-price">${{planPrice}}<span *ngIf="billingType === 'monthly'">/mo</span><span *ngIf="billingType === 'yearly'">/yr</span> </p>
          </div>
        </div>
        <hr>

        <div class="my-2 d-flex justify-content-between" *ngFor="let addon of selectedAddons">
          <div>
            <p class="text-muted">{{addon.name}}</p>
          </div>
          <div>
            <p *ngIf = "billingType === 'monthly'">${{addon.monthly_price}}/mo</p>
            <p *ngIf = "billingType === 'yearly'">${{addon.yearly_price}}/yr</p>
          </div>
        </div>
      </div>



      <div class="p-3 my-2 d-flex justify-content-between">
        <div>
          <p class="text-muted" *ngIf = "billingType === 'monthly'">Total (per month)</p>
          <p class="text-muted" *ngIf = "billingType === 'yearly'">Total (per year)</p>
        </div>
        <div>
          <p class="final-amount"  *ngIf = "billingType === 'monthly'">${{finalPrice}}/mo</p>
          <p class="final-amount"  *ngIf = "billingType === 'yearly'" > ${{finalPrice}}/yr</p>
        </div>
      </div>

    </div>
  </div>
  <div class="mb-4">
    <a  class="fw-bold" (click)="navigatePrevPage()">Go Back</a>
    <button class="btn btn-primary float-end" (click)="navigateNextPage()">Next Step</button>
  </div>

</div>
