<label [htmlFor]="'cb' + addonId" class="d-flex justify-content-between align-items-center p-3 checkbox-container"  [ngClass]="{'checked-label': addonSelected}">

  <div class="d-flex align-items-center gap-3">
    <input type="checkbox" class="" [id]="'cb' + addonId" [(ngModel)] = "addonSelected" (ngModelChange)="change()">

    <div class="">
      <p class="fw-bold addon-title">{{addonDetails.name}}</p>
      <p class="fw-normal addon-desc">{{addonDetails.desc}}</p>
    </div>
  </div>
  <div class="">
    <p class=" addon-price" *ngIf = "billingType == 'monthly'">${{addonDetails.monthly_price}}/mo</p>
    <p class=" addon-price" *ngIf = "billingType == 'yearly'">${{addonDetails.yearly_price}}/yr</p>
  </div>
</label>
