<div class="container my-4 d-flex flex-column justify-content-around h-100">
  <div>
    <h1 class="text-highlighted">Personal Info</h1>
    <p class="text-muted">Please provide your name, email, address and phone number.</p>
    <div class="my-5">
      <div class="form-group my-4">
        <label for="nameInput" class="fw-medium text-highlighted">Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="e.g. Stephen King">
      </div>
      <div class="form-group mb-4 ">
        <label for="nameInput" class="fw-medium text-highlighted">Email</label>
        <input type="text" class="form-control" id="emailInput" placeholder="e.g. stephenking@lorem.com">
      </div>
      <div class="form-group mb-4 ">
        <label for="nameInput" class="fw-medium text-highlighted">Phone Number</label>
        <input type="text" class="form-control" id="phoneInput" placeholder="e.g. +1 2345 678 90">
      </div>
    </div>
  </div>
  <div class="mb-4">
    <button class="btn btn-primary float-end" routerLink="/select-plan">Next Step</button>
  </div>
</div>
